@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  
  font-family: 'Poppins', 'sans-serif';
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #1d232a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.info-tab {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-header span {
  font-size: 50px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.main-header {
  border-bottom-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchbar-div {
  padding-top: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;

  & .searchbar {
    width: 70vh;
    height: 2.5vh;
    color: #2a323c;
    background-color: white;
    border-radius: 20vh;
    border-style: none;
    padding: 1.2vh;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
}

.main-card {
  float: left;
  margin-left: 28px;
  margin-right: 105px;
  margin-top: 5vh;
  height: 48vh;
  width: 25vh;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #2a323c;
  box-shadow: 15px 2px 4px rgba(0, 0, 0, 0.2);
}

.img-card {
  display: inline-block;
  height: 20vh;
  width: 20vh;
  border-style: solid;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.character-name {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@keyframes alive {
  0% {
    opacity: 0.5;
    transform: scale(0.9);
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 0.5;
    transform: scale(0.9);
  }
}

.status-circle-alive {
  margin-right: 3px;
  font-size: xx-small;
  color: #3eeb3e;
  animation: alive 2s infinite;
}

.status-circle-dead {
  margin-right: 3px;
  font-size: xx-small;
  color: #e92929;
}


.status-circle-unknown {
  margin-right: 3px;
  font-size: xx-small;
  color: #9e9999;
}

.rick-text {
  color: #96d7d6;
}

.morty-text {
  color: #fcf976;
}

.api-text, .and-text {
  color: #f8cba8;
}

.github-icon {
  font-size: 50px;
  color: #ffffff;
}

.github-icon:hover {
  color: #f8cba8;
}

@media (max-width: 992px) {
  span {
    font-size: 40px;
  }

  .searchbar-div {
    & .searchbar {
      width: 40vh;
      height: 2vh;
    }
  }

  .main-card {
    margin-left: 10px;
    height: 24vh;
    width: 15vh;
    font-size: 24px;
  }
  .img-card {
    height: 10vh;
    width: 10vh;
    font-size: 15px;
    font-style: italic;
  }
}

@media (max-width: 720px) {
  .main-card {
    margin-left: 25px;
    height: 28vh;
    width: 20vh;
    font-size: 13px;
  }
  .img-card {
    height: 10vh;
    width: 10vh;
  }
}
